::-webkit-scrollbar {
  width: 10px;
   }

   ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
   }
 
   ::-webkit-scrollbar-thumb {
  background: #31AD6D; 
  border-radius: 10px;
   }

   ::-webkit-scrollbar-thumb:hover {
  background: #17DC76; 
   }
   
  * {
  box-sizing: border-box;
}
 a:link 
    {
        color: #12E7DD;
    }

    a:visited
    {
        color: #12E7DD;
    }

body {
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('WarwickCP.jpg');
}

/* Style the header */
.header {
  color: #D4D4D4;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  background-color: transparent;
  width: 25%;
}

.columni{
  float: left;
  width: 50%;
  padding: 5px;
}

/* Middle column */
.column.middle {
  font-family: calibri, sans-serif;
  color: #D4D4D4;
  background-color: #2D2D2F;
  background-blend-mode: normal;
  background-attachment: fixed;
  width: 50%;
  align
}

table tr, th, td{
border: solid;
border-color: #39393C;
border-spacing: 0;
border-width: 1px;
border-collapse: collapse;
text-align: center;  
}

.titling{
  text-align: center;
}

.paragrafo{
  text-align: center;
}

.prg{
  text-align: justify-all;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}